.in-2-cols {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border-radius: var(--rounded-corners);
  padding: 1rem;
}

.mini-font {
  font-size: 0.5em;
}
