@import url(https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap);

@import "./overwrites.scss";
@import "./colors.scss";
@import "./helpers.scss";
:root {
  --rounded-corners: 10px;
  --gap-sm: 1rem;
  --gap-md: 3rem;
}

body {
  background-color: var(--clr-primary);
}

section {
  padding: var(--gap-md) 0;
}
